@import url('https://meyerweb.com/eric/tools/css/reset/reset200802.css');

* {
  user-select: none;
}

::-webkit-scrollbar {
  /* chrome based */
  width: 0px;
  /* ширина scrollbar'a */
  background: transparent;
  /* опционально */
}

html {
  -ms-overflow-style: none;
  /* IE 10+ */
  scrollbar-width: none;
  /* Firefox */
}

html,
body {
  width: 100%;
  height: 100%;
  // overflow: hidden;
}

canvas {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1498px;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 auto;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: black;

  .header {
    position: fixed;
    z-index: 2;
    width: 100%;

    .container {
      display: flex;
      align-items: center;

      .header-logo {
        // width: 166px;
      }

      .burger-btn {
        margin: 0;
        padding: 0;
        background: 0;
        border: none;
        margin-left: auto;
        position: relative;
        z-index: 12;

        .burger-elem {
          width: 70px;
          height: 6px;
          margin: 8px 0;
          flex-shrink: 0;
          border-radius: 40px;
          background: #D9D9D9;
        }

        .burger-elem:nth-child(2) {
          width: 58px;
          margin-left: auto;
        }
      }
    }
  }

  .block-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .canvas-mouses {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    z-index: 10;
  }

  canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .section {
    color: #fff;
    position: relative;
    z-index: 1;
    height: 100vh;
    width: 100%;
  }
}